# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# Data & Vector stores (large files)
data/
data/raw/*
data/
data/processed/*
vector_store/*

# Jupyter
.ipynb_checkpoints

# IDE
.vscode/
.idea/