pandas
matplotlib
seaborn
requests
langchain
langchain_core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
huggingface_hub
scikit-learn
pyarrow
langchain-ollama
gradio 
streamlit